table{
    table-layout:fixed;
    width:100%;
}
th, td{
    text-align:center;
    word-wrap:break-word;
}
.sno{
    width:60px;
}
.phone{
    width:150px;
}
.email{
    width:220px;
}
.actions{
    width:150px;
}
@media(max-width:576px){
    .btn{
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

}

