.sno{
    text-align:center;
    padding-left:10px;
}
.sno-column{
    text-align:center;
    padding-left:10px;
}
@media(max-width:576px){
    .btn{
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

}












