table{
    table-layout:fixed;
    width:100%;
}
.sno{
    text-align:center;
    padding:20px;
}
@media(max-width:576px){
    .btn{
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

}




